@model Dynamic.BusinessEntity.Security.User

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AcademyErp 2.0</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/wwwroot/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/wwwroot/dynamic/css/themify-icons.css">
    @*<link rel="stylesheet" href="~/wwwroot/dynamic/font-flaticon/flaticon.css">*@

    <script src="~/wwwroot/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/wwwroot/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/wwwroot/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="~/wwwroot/plugins/daterangepicker/daterangepicker.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/wwwroot/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/wwwroot/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

    <link rel="stylesheet" href="~/wwwroot/dynamic/css/academic-erp-theme.css">

    <link rel="stylesheet" href="~/wwwroot/dynamic/css/academic.css">

    <script src="~/Scripts/ag-grid-community.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/multiplex.js"></script>
    <script src="~/jslib/print/angular-file-saver.bundle.min.js"></script>
    <link href="~/jslib/cron/angular-cron-jobs.css" rel="stylesheet" />
    <script src="~/jslib/cron/angular-cron-jobs.js"></script>

    <script src="~/Scripts/ui-grid.min.js"></script>
    <link href="~/Content/ui-grid.min.css" rel="stylesheet" />



    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/jslib/main.js?v=25"></script>
    <script src="~/jslib/global/GlobalServices.js?v=25"></script>
    <script src="~/jslib/global/Common.js?v=25"></script>
    <!--Endfs-->
    @{
        var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
        var baseurl = urlHelper.Content("~");
    }

    <script>
        var base_url = "@baseurl";
    </script>
    <style>
        .forgot-password a {
            text-decoration: none;
        }

            .forgot-password a:hover {
                text-decoration: underline;
            }

        .enquiry-popup {
            position: fixed;
            top: 20px;
            background-color: aliceblue;
            color: #025a58;
            border: 1px solid #ffc107;
            padding: 12px 18px;
            border-radius: 8px;
            font-weight: 500;
            font-size: 18px;
            opacity: 0;
            transform: translateY(-20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
            z-index: 9999;
            box-shadow: 0 8px 20px rgba(0,0,0,0.35);
        }

            .enquiry-popup.show-popup {
                opacity: 1;
                transform: translateY(0);
                animation: floatPopup 2s ease-in-out infinite;
            }
    </style>



    <script src="~/jslib/global/Login.js"></script>
</head>

<body @*onload="LoadURL()"*@ >
    <div class="login-page">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-lg-8 mx-auto">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-5 left-box rounded-left">
                                <div class="left-box-img-wrap" ng-app="myApp" ng-controller="loginController" ng-init="LoadData()">
                                    <span class="d-block border-0 p-3 text-center">
                                        <label><b>New Applicant?</b></label><br />
                                        <a href="javascript:void(0)" ng-click="onApplyClick()" class="btn btn-sm btn-success" style="min-width: 100px; font-size:16px;">Apply for Online Enquiry</a>
                                        <!--Button Added for scholarship-->
                                        @*<a href="~/Scholarship/ApplyScholarship" class="btn btn-sm btn-default mt-2" style="min-width: 100px; font-size:16px;">Apply Scholarship </a>
            <a href="~/Scholarship/ScholarshipVerify" class="btn btn-sm btn-default mt-2" style="min-width: 100px; font-size:16px;">Verify Scholarship </a>*@
                                        <!--Ends-->

                                    </span>
                                    <div class="enquiry-popup"
                                         ng-class="{'show-popup': applyClicked && newEnquiry.FormStatus == 2}">
                                        <i class="fas fa-exclamation-triangle text-danger"></i>
                                        <span>{{newEnquiry.ClosedMsg}}</span>
                                    </div>
                                  
                                    <div class="text-center">
                                        <img class="img-fluid col-md-8" src="~/wwwroot/dynamic/images/logo.png" alt="">
                                    </div>
                                    <span class="d-block border-0 p-3 text-center">
                                        <a href="~/Teacher" class="btn btn-sm btn-info" style="min-width: 100px; font-size:15px;">Teacher Login</a>
                                        <a href="~/Student" class="btn btn-sm ml-2 text-white" style="min-width: 100px; font-size:15px;background-color:#c99e42;">Student Login</a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body login-card-body">
                                    <h4 class="text-secondary">Sign In</h4>
                                    <p class="login-box-msg">Welcome back. Please sign in to your account.</p>
                                    <p style="color:red">@Model.ResponseMSG</p>
                                    <form method="post" asp-controller="Home" asp-action="Login" asp-route-returnurl="@Model.ResponseMSG">
                                        <div class="input-group mb-3">
                                            @Html.TextBoxFor(p1 => p1.UserName, new { @class = "form-control", @placeholder = "Username", @id = "txtUserName", @required = true, @onblur = "checkUserOTP()" })
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-user"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            @Html.PasswordFor(p1 => p1.Password, new { @class = "form-control", @placeholder = "Password", @id = "txtPassword", @required = true, value = Model.Password })
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="cursor:pointer;" onclick="togglePassword()">
                                                    <span class="fas fa-eye" id="eyeIcon"></span>
                                                </div>
                                            </div>
                                        </div>
                                        @*@if (Model.OTPRequired == true)
                                            {*@
                                        <div class="input-group mb-3" id="otpContainer">
                                            @Html.PasswordFor(p1 => p1.OTP, new { @class = "form-control", @placeholder = "Authentication Code", @id = "txtOTP"})
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <a class="fas fa-user-lock" @*href="@Html.Action("GenerateOTP", "Home", new { beData = Model });"*@></a>
                                                </div>
                                            </div>
                                        </div>
                                        @*}*@

                                        <div class="input-group mb-3">
                                            @Html.DropDownListFor(p1 => p1.DBName, new SelectList((SelectList)@ViewBag.CompanyList, "Value", "Text"), new { @class = "form-control", @required = true })
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-database px-1"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="custom-control custom-checkbox mt-1">
                                                    <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                                                    <label for="customCheckbox1" class="custom-control-label" asp-for="IsUserNeverExpire">Remember Me</label>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-4">
                                                <button type="submit" class="btn btn-secondary btn-block">Sign In</button>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                    </form>

                                    <p class="forgot-password">
                                        <a href="~/Home/ForgotPwd">
                                            <span class="fas fa-lock mr-2"></span> Forgot your password?
                                        </a>
                                    </p>
                                </div>
                                <!-- /.login-card-body -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.login-box -->

</body>

</html>

<script>
    function togglePassword() {
        var pwd = document.getElementById("txtPassword");
        var icon = document.getElementById("eyeIcon");

        if (pwd.type === "password") {
            pwd.type = "text";                 // show password
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            pwd.type = "password";             // hide password
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>

@*<script>
        function LoadURL()
        {
            document.location.href = base_url + "Home/Login";
        }
    </script>*@